@font-face {
  font-family: "momcake";
  src: url("../assets/fonts/MOMCAKE-Thin.otf");
  font-weight: 400px; }

@font-face {
  font-family: "momcake";
  src: url("../assets/fonts/MOMCAKE-Bold.otf");
  font-weight: 700px; }

@font-face {
  font-family: "steelr";
  src: url("../assets/fonts/SteelrDemo.ttf");
  font-weight: 400px; }

body {
  background: url("../assets/images/background.png"); }

* {
  box-sizing: border-box; }

.main-content {
  width: 600px;
  margin: 0 auto; }

.todo-block__title {
  font-family: "momcake";
  font-size: 6rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 15px; }

.todo-block__content {
  -webkit-box-shadow: -1px 3px 15px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 15px 1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 15px 1px rgba(0, 0, 0, 0.75); }
  .todo-block__content__form {
    width: 100%;
    padding: 5px;
    display: flex; }
  .todo-block__content__buttons {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
    padding: 5px; }

.todo-input {
  font-size: 2rem;
  font-family: "steelr";
  padding-left: 10px; }

.todo-complete-all {
  width: 50px;
  height: 50px;
  padding: 0px 0px;
  cursor: pointer; }

.todo {
  display: flex;
  justify-content: space-between;
  font-family: "steelr";
  font-size: 1.8rem;
  padding: 5px; }
  .todo:hover .todo__delete-button {
    display: flex; }
  .todo__checkbox {
    width: 38px;
    height: 38px;
    transition: 0.2s;
    cursor: pointer; }
  .todo__checkbox:checked + .todo__text {
    text-decoration: line-through;
    opacity: 0.5; }
  .todo__text {
    padding: 5px 0px;
    padding-left: 10px;
    width: 100%;
    word-break: break-all;
    transition: all 0.3s; }
    .todo__text_editable {
      font-family: "steelr";
      font-size: 1.5rem;
      opacity: 1;
      width: 100%; }
  .todo__delete-button {
    background-image: url("../assets/images/delete.png");
    background-size: 100% 100%;
    width: 38px;
    height: 38px;
    text-align: right;
    align-self: center;
    display: none;
    cursor: pointer; }

.sorts {
  display: flex;
  justify-content: space-between;
  font-family: "momcake";
  font-size: 1.2rem;
  transition: 0.3s; }
  .sorts > div:not(:first-child) {
    margin-left: 1rem; }
  .sorts > div {
    cursor: pointer;
    padding: 3px; }
  .sorts > div:hover {
    transform: scale(1.1); }
  .sorts div.active {
    border: 2px darkgrey solid;
    border-radius: 15px; }

.count {
  font-family: "momcake";
  font-size: 1.2rem;
  padding: 3px; }

.clear {
  font-family: "momcake";
  font-size: 1.2rem;
  cursor: pointer;
  padding: 3px; }

@media screen and (max-width: 748px) and (min-width: 320px) {
  .main-content {
    width: 100%; }
  .todo-block__title {
    font-size: 3rem; }
  .todo-block__content__buttons {
    flex-direction: column;
    align-items: center; }
  .todo-input {
    font-size: 1rem; }
  .todo-complete-all {
    width: 20px;
    height: 20px; }
  .todo {
    font-size: 1.2rem; }
    .todo__checkbox {
      width: 20px;
      height: 20px; }
    .todo__delete-button {
      display: flex;
      width: 20px;
      height: 20px; }
    .todo:hover .todo {
      display: initial; }
    .todo__text_editable {
      font-size: 0.9rem; }
  .count {
    font-size: 1rem;
    padding: 1px; }
  .sorts {
    font-size: 1rem; }
    .sorts > div {
      padding: 1px; }
    .sorts div.active {
      border: none;
      text-decoration: underline; }
    .sorts > div:hover {
      transform: none; }
  .clear {
    padding: 1px;
    font-size: 1rem; } }

/*# sourceMappingURL=index.css.map */
