@font-face {
  font-family: "momcake";
  src: url("../assets/fonts/MOMCAKE-Thin.otf");
  font-weight: 400px;
}

@font-face {
  font-family: "momcake";
  src: url("../assets/fonts/MOMCAKE-Bold.otf");
  font-weight: 700px;
}

@font-face {
  font-family: "noto";
  src: url("../assets/fonts/19167.ttf");
  font-weight: 400px;
}

@font-face {
  font-family: "noto";
  src: url("../assets/fonts/17518.ttf");
  font-weight: 700px;
}

body {
  background: url("../assets/images/background.png");
}

* {
  box-sizing: border-box;
}

.main-content {
  width: 600px;
  margin: 0 auto;
}

.todo-block {
  &__title {
    font-family: "momcake";
    font-size: 6rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 15px;
  }
  &__content {
    -webkit-box-shadow: -1px 3px 15px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 15px 1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 3px 15px 1px rgba(0, 0, 0, 0.75);
    &__form {
      width: 100%;
      padding: 5px;
      display: flex;
    }
    &__buttons {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid grey;
      padding: 5px;
    }
  }
}

.todo-input {
  font-size: 2rem;
  font-family: "noto";
  padding-left: 10px;
}

.todo-complete-all {
  width: 50px;
  height: 50px;
  padding: 0px 0px;
  cursor: pointer;
}

.todo {
  display: flex;
  justify-content: space-between;
  font-family: "noto";
  font-size: 1.8rem;
  padding: 5px;
  &:hover & {
    &__delete-button {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
  &__checkbox {
    width: 38px;
    height: 38px;
    transition: 0.2s;
    cursor: pointer;
  }

  &__checkbox:checked + &__text {
    text-decoration: line-through;
    opacity: 0.5;
  }

  &__text {
    padding: 5px 0px;
    padding-left: 10px;
    width: 100%;
    word-break: break-all;
    transition: all 0.3s;
    &_editable {
      font-family: "noto";
      font-size: 1.5rem;
      opacity: 1;
      width: 100%;
    }
  }

  &__delete-button {
    background-image: url("../assets/images/delete.png");
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    text-align: right;
    align-self: center;
    display: flex;
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
  }
}

.sorts {
  display: flex;
  justify-content: space-between;
  font-family: "momcake";
  font-size: 1.2rem;
  transition: 0.3s;
  & > div:not(:first-child) {
    margin-left: 1rem;
  }

  & > div {
    cursor: pointer;
    padding: 3px;
  }

  & > div:hover {
    transform: scale(1.1);
  }
  & div.active {
    border: 2px darkgrey solid;
    border-radius: 15px;
  }
}

.count {
  font-family: "momcake";
  font-size: 1.2rem;
  padding: 3px;
}

.clear {
  font-family: "momcake";
  font-size: 1.2rem;
  cursor: pointer;
  padding: 3px;
}

@media screen and (max-width: 748px) {
  .main-content {
    width: 100%;
  }

  .todo-block {
    &__title {
      font-size: 3rem;
    }
    &__content {
      &__buttons {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .todo-input {
    font-size: 1rem;
  }

  .todo-complete-all {
    width: 20px;
    height: 20px;
  }

  .todo {
    font-size: 1.2rem;

    &__checkbox {
      width: 20px;
      height: 20px;
    }
    &__delete-button {
      opacity: 1;
      width: 20px;
      height: 20px;
    }

    &:hover & {
      display: initial;
    }

    &__text {
      &_editable {
        font-size: 0.9rem;
      }
    }
  }

  .count {
    font-size: 1rem;
    padding: 1px;
  }

  .sorts {
    font-size: 1rem;
    & > div {
      padding: 1px;
    }
    & div.active {
      border: none;
      text-decoration: underline;
    }
    & > div:hover {
      transform: none;
    }
  }

  .clear {
    padding: 1px;
    font-size: 1rem;
  }
}
